celerybeat*
.ropeproject/
.watsonrc
.env
.cleanenv
.coverage
*.pyc
*.swp
*.swo
*.sqlite3
*.log
*.ext
*.mo
*.dump
Vagrantfile
venv*
static/
public/
docs/
tmp/
*.sublime*
*.csv
src/
public
frontend
.python-version
